.navbar > .container {

}

.container > .row {
    margin-top: 30px;
}

@media (max-width: 991px) {
    .lg-margin {
        margin-top: 30px;
    }
}

.carousel div.carousel-item {
    max-height: 600px;
}